/** Estilo principal */
body {
	margin: 0;
	background-color: var(--fondo1);
	font-family: sans-serif;
	color: var(--fuente);
}

/* Cabecera */

header {
	padding: 0.1px;
	border-bottom: 2px solid var(--borde1);
	background-color: var(--fondo2);
	font-size: 0.85em;
	text-align: center;
}

header > div {
	display: flex;
	justify-content: space-between;
}

header > div > img {
	display: block;
	width: 68px;
	height: 68px;
	padding: 1px;
}

/* Tema */

#botón_tema {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 28px;
	margin: 10px;
	padding: 0;
	z-index: 100;
}

#botón_tema:hover {
	cursor: pointer;
	opacity: 80%;
}

/* Tablero */

.contenedor {
	position: relative;
	top: 25px;
	width: 1024px;
	height: 576px;
	margin: 0 auto 0 auto;
	border: 3px solid var(--borde2);
	border-radius: 2.5%;
}

.dado {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 86px;
	height: 86px;
}

.tablero {
	position: absolute;
	top: 25px;
	left: 8px;
	height: 500px;
}

.oculto {
	display: none;
}