/** Estilo web principal */
body {
	margin: 0;
	background-color: var(--fondo1);
	font-family: sans-serif;
	color: var(--fuente);
}

header {
	padding: 0.1px;
	border-bottom: 2px solid var(--borde1);
	background-color: var(--fondo2);
	font-size: 0.85em;
	text-align: center;
}

header > div {
	display: flex;
	justify-content: space-between;
}

header > div > img {
	display: block;
	width: 68px;
	height: 68px;
	padding: 1px;
}

#tema_botón {
	position: absolute;
	top: 10px;
	right: 10px;
}

.tablero {
	display: block;
	width: auto;
	max-width: 80vw;
	max-height: 78vh;
	margin: 10px auto;
}