html, body {
	background-color: #242424;
	margin: 0;
	color: #CFCFCF;
}

header {
	padding: 0.1px;
	text-align: center;
	background-color: #141414;
	border-bottom: 2px solid #141414;
}

.tablero {
	display: block;
	margin: 10px auto;
	width: 500px;
	height: 500px;
}